<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <!-- Add your CSS link or stylesheets here -->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <!-- Your header content goes here -->
        <h1>Final Project</h1>
        <nav>
            <ul>
                <li>  Group Members :</li>
                <ul>
                    <li>Shrey Shah</li>
                    <li>Raghav Bedi </li>
                </ul>
            </ul>
        </nav>
    </header>

    <main>
        <!-- This is where the content from other pages will be inserted -->
        {{{body}}}
    </main>

    <footer>
        <!-- Your footer content goes here -->
        <p>&copy; {{currentYear}} Your App</p>
    </footer>

    <!-- Add your JavaScript files or scripts here -->
    <script src="/scripts/main.js"></script>
</body>
</html>
